@font-face {
    font-family: 'Monument Regular';
    src: url(./monument.otf);
  }

body {
    font-family: 'Lexend Deca', sans-serif;
    text-underline-offset: 0.5em;
    background-color: black;
}

.container {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    display: none
}

.box {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.3em;
    border-style: dashed;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-shadow: 5px 5px 10px blue;
    color: white;
}

h1 {
    font-family: 'Monument Regular', sans-serif;
    font-weight: bolder;
    font-size: 6em;
}

h2, h3 {
    font-family: 'Monument Regular', sans-serif;
}

h2 {
    font-weight: bolder;
}

td {
    white-space: nowrap;
    padding-right: 2em !important;
    padding-bottom: 1.2em !important;
}

.first-box {
    overflow: hidden;
    position: relative;
}

.moving-text {
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    margin-right: -40em;
    
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.social {
    font-size: 3em;
}

.scroll {
    color: black;
}

.skills {
    line-height: 2em;
}

.end-section {
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    border-left-style: dashed;
    padding-left: 3em;
}

.bi {
    font-size: 3em;
}

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
    }

    .box {
        padding: 0 !important;
    }

    .social {
        font-size: 2em;
    }

    .end-section {
        border-left: none;
        padding-left: 1em;
        margin-top: 3em;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-top-style: dashed;
    }

    .moving-text {
        display: none;
    }

    .scroll {
        color: white;
    }

    .bi {
        font-size: 2em;
    }

}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-10% + var(--offset));
    --move-final: calc(-40% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s alternate infinite;
    animation-play-state: running;
}

.marquee span {
    font-size: 10vw;
    padding: 0 2vw;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}