@font-face {
    font-family: 'Monument Regular';
    src: url(./monument.otf);
  }

body {
    font-family: 'Poppins', sans-serif;
    text-underline-offset: 0.5em;
    background-color: black;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: red;
}

::selection {
    color: white;
    background: red;
}

.container {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    display: none
}

.box {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.3em;
    border-style: dashed;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-shadow: 5px 5px 10px blue;
    color: white;
}

h1 {
    font-family: 'Monument Regular', sans-serif;
    font-weight: bolder;
    font-size: 7em;
}

h2 {
    font-size: 2.5em;
    font-family: 'Monument Regular', sans-serif;
}

h2 {
    font-weight: bolder;
}

td {
    white-space: nowrap;
    padding-right: 2em !important;
    padding-bottom: 1.2em !important;
}

.social {
    font-size: 3em;
}

.scroll {
    color: black;
}

.skills {
    line-height: 2em;
}

.end-section {
    border-left: 2px solid rgba(255, 255, 255, 0.4);
    border-left-style: dashed;
    padding-left: 3em;
}

.bi {
    font-size: 3em;
}

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    .box {
        padding: 0 !important;
    }

    .social {
        font-size: 2em;
    }

    .end-section {
        border-left: none;
        padding-left: 1em;
        margin-top: 3em;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-top-style: dashed;
    }

    .scroll {
        color: white;
    }

    .bi {
        font-size: 2em;
    }

}